<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appstory.aarppo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BlastersMain"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BlastersSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:configChanges="orientation"
                    android:screenOrientation="portrait" />
            </intent-filter>
        </activity>

        <service android:name=".AarpoCheckService" />

        <activity
            android:name=".AarpoBlast"
            android:configChanges="orientation"

            android:showOnLockScreen="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewActivity"
            android:label="@string/title_activity_preview"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FlashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>